@{
    ViewBag.Title = "Home Page";
}

<div id="main-header">
    <img id="logo-main" src="~/Content/images/TriageLogo.png" alt="TriageMe Logo" />
    <div id="main-jumbotron">
        <h1>Triage Me</h1>
        <p class="lead">Keep your team patient focused and connected.</p>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-6">
        <h2>What is Triage and why do we do it?</h2>
        <p>
            Triage in the simplest term is the sorting or prioritizing of items (clients, patients, tasks…).
            Triage occurs at registration and in others specifically trained health care providers perform it after registration
        </p>
        <p><a class="btn btn-default" href="http://caep.ca/resources/ctas/implementation-guidelines">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>What is a Triage & Acuity Scale?</h2>
        <p>
            A triage and acuity scale attempts to more accurately define patients needs for timely care and to allow ED’s to evaluate their acuity level,
            resource needs and performance against certain operating "objectives". Three important concepts are included in the design of this scale: 1) Utility; 2) Relevance and 3) Validity.
        </p>
        <p><a class="btn btn-default" href="http://caep.ca/resources/ctas/implementation-guidelines">Learn more &raquo;</a></p>
    </div>
</div>